<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Upload Image wtf
    </h1>
    <form action="/uploadphoto" enctype="multipart/form-data" method="POST">
        <p>Id</p><input type="number" name="id">
        <p>Name</p><input type="text" name="name">
        <p>Description</p><input type="text" name="desc">
        <p>Price</p><input type="number" name="price">
        <p>Image</p><input type="file" name="image">
        <input type="submit" value="Upload Photo">
    </form>
</body>
</body>
</html>